.body {
    margin-top: 8em;
    padding-left: 10%;
    padding-right: 10%;
}

@media screen and (max-width: 650px) {
    .body {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 500px) {
    .body {
        margin-top: 6em;
    }
}